<div id="editPasswordTab" class="tab-pane fade">
	<form id="editPassword" action="../profile/editPassword" class="form-form">
		<fieldset>
			<!-- <legend style="margin-top: 15px;">Edit Password</legend> -->
	
			<label for="currentPassword">Current Password</label> 
			<input type="password" name="currentPassword" class="form-control" required/>
			<div id="currentPasswordError"></div>
			<label for="newPassword">New Password</label> 
			<input type="password" name="newPassword" class="form-control" required/>
			<div id="newPasswordError"></div>
			<div id="password-serverError"></div>
			<input id="editPasswordBtn" class="btn btn-primary" type="button" value="Update password" role="button" style="margin-top: 10px;"/>
		</fieldset>
	</form>

</div>