<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/register.css" media="screen" />
		<script defer type="text/javascript" src="/js/resetPassword.js"></script> 
		<title>PhoneZone | Sign in</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
					<a class="navbar-brand">PhoneZone</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<h2>Forgot Password</h2>
			<form id="resetPassword" action="resetPassword" class="form-form">
				<fieldset>
	
					<label for="password">Password</label> 
					<input id="password" type="password" name="password" class="form-control" style="margin-bottom: 10px;" required/>
					<div id="passwordError"></div>
					<% for (var i = 0; i<errors.length;i++){%>
						<p><%= errors[i] %></p>
					<% } %>

					<label for="confirmPassword">Confirm Password</label> 
					<input id="password" type="password" name="confirmPassword" class="form-control" style="margin-bottom: 10px;" required/>
					<div id="confirmPasswordError"></div>
					<% for (var i = 0; i<errors.length;i++){%>
						<p><%= errors[i] %></p>
					<% } %>
	
					<input id="resetPasswordBtn" class="btn btn-primary" type="button" value="Update Password" role="button"/>
				</fieldset>
				<p>If you don't have an account <a href="/users/signup">Sign up</a></p>
			</form>
			
		</div>
		
		
	</body>
</html>